{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
{% endblock %}
{%load crispy_forms_tags%}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Learning Managemnet System</a></h1>
{% endblock %}
{% block content %}
<div>
    <form action="{% url 'admin:adminApp_class_subject' class_id%}" method='post'>
        
        <fieldset class="module aligned">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-row field">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>

            {% endfor %}

            <button type="submit" class="btn btn-secondary mb-2">Add</button>


        </fieldset>
    </form>
</div>
{% endblock %}