{% extends "admin/change_form.html" %}

{% block breadcrumbs %}
{% endblock %}
{%load crispy_forms_tags%}
{% block field_sets %}
<form >
    <fieldset class="module aligned">
        
        {% csrf_token %}
        {% for field in form %}
        <div class="form-row field">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        {{block.super}}

    </fieldset>
</form>

{% endblock %}