{% extends "admin/change_form.html" %}

{% block field_sets %}

{{block.super}}
<div>
    <fieldset class="module">

        <h2>Class</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th ></th>
                    <th>Name</th>


                </tr>

            </thead>
            <tbody>
                {% for val in osm_data  %}
                {% if val %}
                <tr class="form-row">
                <td>
                <a href="{% url 'admin:adminApp_class_change' val.id %}"
                    class="btn btn-outline-secondary">{{val.Name}}</a>
                
                </td>
                </tr>
                {% endif %}

                {% endfor %}
                <tr class="add-row">
                    <td colspan="4">
                        <a href="{% url 'admin:adminApp_class_add' %}" class="btn btn-outline-secondary">add another class</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>

{% endblock %}