{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Learning Managemnet System</a></h1>
{% endblock %}
{% block content %}
<fieldset class="module">
    <h2>Subjects For Semster </h2>
    <table>
        <thead>
            <tr>
                <td>
                    <h4>Subject</h4>
                </td>

                <td>
                    <h4> Semster</h4>
                </td>
            </tr>
        </thead>
        {%for val in subjects%}
        {%if val%}
        <tr class="form-row">
            <td>
                <a href="{% url 'admin:adminApp_section_attendance' SectionId semsterId  val.SubjectId.id %}">{{val.SubjectId}}</a>
            </td>
            <td>
                {{val.SemsterName}}
            </td>
        </tr>
        {%endif %}
        {%endfor%}
    </table>
</fieldset>
{% endblock %}